NODE_ENV="development"  # or 'production'

# port where the application will be running
PORT="8080"

# allowed cors domains
ALLOWED_ORIGINS="http://localhost:3000"

# AWS S3 Configuration
AWS_ACCESS_KEY_ID=" your_access_key_id"
AWS_SECRET_ACCESS_KEY="your_secret_key"
AWS_REGION="ap-south-1"
AWS_BUCKET_NAME="your-bucket-name"